* {
margin: 0;
padding:0;
font-family: "poppins", sans-serif;
box-sizing: border-box;
}
.container{
width: 100%;
height: 100vh;
background: #f8f9f9;
display: flex;
align-items: center;
justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(187, 104, 162, 0.904), 5px 5px 15px rgba(247, 246, 246, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fbf8f8f4;
    cursor: pointer;
    margin: 10px;

}

form .display{
    grid-column: span;
    height: 55px;
    width: 330px;
    background-color: #ec62bc;
    box-shadow: inset -5px -5px 11px #c14597;
    display: flex;
    border:none;
    justify-content: flex-end;
    border-radius: 30px
    font-size: 50px;
    text-align: end;
    }
input{
    grid-column: span
    height: 70px;
    width: 260px;
    background-color: #ecff3e;
    box-shadow: inset -5px -5px 12px #ffffff;
    }
form .display input{
    text-align: right;
    flex: 1; 
    font-size: 45px;
    box-shadow: none;
     
}
form input.equal{
    width: 145px;
}

form input.operator{
    color: hwb(270 74% 25%)
}